
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700,900');

body {
  background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

h1 {
	font-size: 40px;
}

h3 {
	font-weight: 400;
}

h4 {
	font-weight: 400;
	font-size: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}


a {
    color: #d6ee18;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #b7cb1b;
    text-decoration: none;
    outline: 0;
}

.navbar-brand {
  padding: 0;
  margin-top: 10px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #151515;
  padding: 15px 0;
  padding-bottom: 0;
}

 .navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li{
  margin-left: 35px;
  padding-bottom: 28px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
  background-color: #fd680e;
  color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 30px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #fd680e;
  color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
.btn-theme  {
  color: #fff;
  background-color: #fd680e;
  border-color: #fd680e;
}
.btn-theme:hover  {
  color: #fff;
  background-color: #444;
  border-color: #444;
}

/* Header */

#header {	
	background-color: #444;
	background: url(../img/landing.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top: 150px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header1 { 
  background-color: #000;
  margin-top: -20px;
  padding-top: 150px;
  min-height: 650px;
  width: 100%;
}

#header h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: #fff;
	font-size: 45px;
	font-weight: 900;
	letter-spacing: -1px;
}

h2.subtitle {
	color: #fff;
	font-size: 20px;
}

.container-login {
    min-height: 0;
    width: 480px;
    color: #333333;
    margin-top: 0px;
    padding: 0;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-login > section {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
}
#top-bar {
    display: inherit;
}
.nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%;
}
.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
    float: none;
}
.container-login .nav-tabs.nav-justified > li > a,
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #ea533f;
    border: medium none;
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 0;
    border-radius: 0;
}
.container-login .nav-tabs.nav-justified > .active > a,
.container-login .nav-tabs.nav-justified > .active > a:hover,
.container-login .nav-tabs.nav-justified > .active > a:focus {
    background: #ffffff;
    color: #333333;
}
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #fd680e;
}
.tabs-login {
    background: #ffffff;
    border: medium none;
    margin-top: -1px;
    padding: 10px 30px;
}
.container-login h2 {
    color: #ea533f;
}
.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.container-login .checkbox {
    margin-top: -15px;
}
.container-login button {
    background-color: #fd680e;
    border-color: #e73e28;
    color: #ffffff;
    border-radius: 0;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 100%;
}
.container-login button:hover,
.container-login button:focus {
    background: #fd680e;
    border-color: #fd680e;
}

.panel {

  border:none;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

  margin-bottom: 30px;

}

.panel .panel-heading {

  line-height: 34px;

  padding: 0 15px;

  min-height: 34px;

  border-left: 1px solid #ccc;

  border-right: 1px solid #ccc;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;  

  position: relative;

  box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);

  -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);

  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);  

}

.panel .panel-heading .panel-title {

  line-height: 40px;

}

.panel .panel-heading i {

  width: 30px;

  display: inline-block;

  font-size: 14px;

  border-right:1px solid #e6e6e6 ;

}

.panel .panel-heading ul li {

  border-top:1px solid #e6e6e6 ;

  border-left:1px solid #e6e6e6 ;

  border-right:1px solid #e6e6e6 ;

}

.panel .panel-heading h2 {

  height: 100%;

  width: auto;

  display: inline-block;

  font-size: 14px;

  position: relative;

  margin: 0;

  line-height: 34px;

  font-weight: 400;

  letter-spacing: 0;

}

.panel .panel-heading .panel-actions {

  float: right;

  margin-right: -15px;

  height: 40px;

  font-size: 0;

}

.panel .panel-heading .panel-actions i {

  display: inline-block;

  text-align: center;

  width: 34px;

  -webkit-transition: all 0.1s ease-in-out;

  -moz-transition: all 0.1s ease-in-out;

  -ms-transition: all 0.1s ease-in-out;

  -o-transition: all 0.1s ease-in-out;

  transition: all 0.1s ease-in-out;

  text-decoration: none;

  font-size: 14px;

}

.panel .panel-heading .panel-actions a {

  text-decoration: none;

  font-size: 14px;

  text-align: center;

  display: inline-block;

  line-height: 32px;

  padding: 0;

  margin: 0;

  color: #fd680e;

  border-left: 1px solid rgba(0,0,0,.09);

}


.panel .panel-body {

  border-width: 1px 1px 2px;

  border-style: solid;

  border-top: none;

  border-right-color: #ccc!important;

  border-bottom-color: #ccc!important;

  border-left-color: #ccc!important;

}
/* footer */
#footer {
	background: #fd680e;
	padding: 19px 0 5px;
}

